{% extends "base.html" %}
{% block heading %}{{ t.batch_heading }}{% endblock %}
{% block content %}
<p>
  {{ t.batch_intro_pre }}<code>nomenclature</code>, <code>migration</code>, <code>differentiation</code>,
  <code>antigen</code>, <code>rationale</code>{{ t.batch_intro_post }}<a href="{{ url_for('template_csv') }}">{{ t.batch_template_link }}</a>{{ t.batch_template_suffix }}
</p>

{% if error %}
<div class="error-banner">{{ error }}</div>
{% endif %}

<form method="post" enctype="multipart/form-data" class="upload-form">
  <label class="file-drop">
    <input type="file" name="csv_file" accept=".csv" required>
    <span>{{ t.batch_choose_file }}</span>
  </label>
  <button type="submit" class="primary">{{ t.batch_submit }}</button>
</form>

<details class="rationale">
  <summary>{{ t.batch_columns_summary }}</summary>
  <p>{{ t.batch_columns_intro }}</p>
  <ul>
    <li><strong>{{ t.batch_columns_markers }}</strong> CD62L, CCR7, CD45RA, CD45RO, CD95, CD69, CD25, PD1, TOX, TCF1, SLAMF6, TIM3, CD101 &mdash; <code>+</code> / <code>-</code> / blank</li>
    <li><strong>{{ t.batch_columns_meta }}</strong> label, location, lineage, function, migration_evidence (B/W/R), migration_evidence_note, differentiation_override, differentiation_override_note, antigen_status (+/0/blank), antigen_note</li>
  </ul>
</details>
{% endblock %}
